%footer
  .container
    .text
      = "Copyright #{Time.now.year}"
      %strong Cooperativa Hormigón
      [el resultado de pensar al trabajo en forma conjunta]
      %strong info@cooperativahormigon.com.ar
    %a#tweeter.ext-link(href="#")
    %a#facebook.ext-link(href="#")
