%header
  .container
    %nav
      %ul
        %li
          = link_to 'ESPAÑOL', '/info.html', :class => 'lang espannol active'
        %li
          = link_to 'ENGLISH', '/info.html', :class => 'lang english'
      #chat
        = link_to 'info', '/info.html'
    =link_to 'Cooperativa Hormigón | DISEÑO + PROGRAMACIÓN + SITIOS WEB', '/', :id => 'logo'
