#sidebar
  %nav
    %ul
      %li
        =link_to 'contacto', '/contacto', :class => 'menu-contacto'
      %li
        =link_to 'blog', '/blog', :class => 'menu-blog'
      %li
        =link_to 'portfolio', '/', :class => 'menu-portfolio'
      %li
        =link_to 'qué hacemos', '/que-hacemos', :class => 'menu-que-hacemos'
      %li
        =link_to 'quiénes somos', '/quienes-somos', :class => 'menu-quienes-somos'
